// All component for UI
// Provide '||' for quick find
// Mobile First

// || BUTTON
.btn {
  border-radius: 4px;
  font-size: 14px;
}

.btn-sm-block {
  float: right;

  @media (max-width: 764px) {
    float: unset;

    .btn {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.btn-outline-secondary {
  background-color: #fff;
}



// || HEADER
header {
  border-bottom: 3px solid #FDB611;
  background-color: #fff;
}

.navbar-brand {
  img {
    width: 154px;

    @media (max-width: 425px) {
      width: 120px;
    }
  }
}

// || DROPDOWN
.dropdown-menu {
  font-size: 14px;
}

// || DROPDOWN - REGISTER-VENDOR
.dropdown-menu.register--vendor {
  font-size: 12px;

  img {
    height: 50px;
  }

  a {
    text-decoration: none;

    &:hover {
      background-color: rgba($blue-50, .1);
    }
  }

  .dropdown-item {
    // display: flex;
  }
}


// || DROPDOWN - AVATAR
.dropdown-toggle::after {
  display: none;
}

a.dropdown-avatar {
  color: black;
  text-decoration: none;

  span {
    margin-top: 4px;
    margin-left: 8px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

// || AVATAR
img {
  &.avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;

    &.avatar {
      &-sm {
        height: 30px;
        width: 30px;
      }

      &-md {
        height: 75px;
        width: 75px;
      }

      &-lg {
        height: 90px;
        width: 90px;
      }
    }
  }
}



// || RATING-STAR
.rating-star {
  color: #F2994A;
}


// || PAGE - SIDEBAR
aside {
  // display: none;
  box-shadow: 0px 1px 6px #31353b21;
  width: 225px;
  position: fixed;
  left: -225px;
  top: 0;
  bottom: 0;
  transition: all .2s;
  height: inherit;
  background-color: #fff;
  overflow-y: auto;
  z-index: 999;

  @media (min-width: 765px) {
    display: block;
    left: 0;
    margin-top: 24px;
    position: relative;
    border-radius: 8px;
    margin-bottom: 24px;
    height: fit-content;
  }
}

.sidebar {
  .sidebar__header {
    padding: 1rem 1rem 0;
  }

  .sidebar__menu {
    padding-bottom: 1rem;

    .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .nav__item {
        padding: .15rem 1rem;

        &:hover {
          background-color: rgba($blue-50, .1);
        }
      }

      a.nav-link {
        color: $gray-40;
        i{
          width: 16px;
        }

        &.active {
          color: $blue-50;
        }
      }

      .nav-link {
        display: flex;
        align-items: center;
        padding-top: .75rem;
        padding-bottom: .75rem;
        position: relative;

        &[aria-expanded='true'] {
          .nav-link__arrow-icon {
            transform: rotate(90deg);
          }
        }
      }

      .collapse {
        .nav__item {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

// || SIDEBAR - MOBILE
@media (min-width: 765px) {
  .aside {
    position: absolute;
  }
}


// || PAGE - CONTENT
section.content,
.content {
  // padding: 24px;
  padding-top: .5rem;
  padding-bottom: 40px;

  .card {
    border-radius: 0;
    box-shadow: none;

    .card-header {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }

  //SPECIAL CASE FOR DETAIL ORDER
  .detail-order {}


  @media (min-width: 765px) {
    padding: 24px 24px 48px;

    .card {
      border-radius: 8px;
      //box-shadow: $card-box-shadow;
    }
  }
}

// ||                                                                                                                                                                                            


// || CARD
.card {
  // border-radius: 8px;
  border: 0;

  &.card--highlight {
    a.card--highlight__item {
      text-decoration: none;
    }
  }
}

// || Media Query
// from tablet onwards
@media (min-width: 576px) {
  .container {
    max-width: 960px;
  }
}

// || TITLE
.title {
  @media (max-width: 764px) {
    padding: 0 1.25rem;
  }
}

// BACKDROP
.backdrop-black {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .65);
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: none;
  position: fixed;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  z-index: 100;
  display: none;
}


// || SEARCH
.input-search {
  @media (min-width: 766px) {
    width: 50%;
  }

  input {
    border-right: 0;
  }

  .input-group-text {
    background-color: transparent;
  }
}

.card--list--wrapper {
  @media (max-width: 764px) {
    padding: 0 1.25rem;
  }
}

// || CARD-PRODUCT
.card--product {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $card-box-shadow;


  img {
    height: 170px;
    object-fit: cover;
  }

  .more-icon {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 30px;
  }

  .card--product__body {
    padding: 8px;
// <<<<<<< HEAD
//     //box-shadow: $card-box-shadow;
// =======
// >>>>>>> 436a374fa43329b70e193311a7e35dce2ddae452

    h5 {
      margin-top: 4px;
      color: $yellow-50;
    }
  }
}

// || MODAL - CONFIRMATION
.modal {
  border: 0;

  .modal-header {
    border: 0;
    padding-top: 24px;
    padding-bottom: 0px;
  }

  .modal-footer {
    border: 0;
    padding-top: 0px;
    padding-bottom: 24px;
  }
}


// || DIALOG - BOTTOM
.bottom-dialog {
  @media (min-width: 766px) {
    display: none;
  }

  color: #000;
// <<<<<<< HEAD
//   position: absolute;
//   //box-shadow: 0px -1px 8px 1px rgb(0 0 0 / 17%);
// =======
  position: fixed;
  //box-shadow: 0px -1px 8px 1px rgb(0 0 0 / 17%);
// >>>>>>> 436a374fa43329b70e193311a7e35dce2ddae452
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  transition: transform 300ms;
  display:none;
  z-index: 999;

  .nav {
    .nav-item {
      a {
        color: $gray-10;
      }

      &:hover {
        background-color: rgba($blue-50, .1);
      }
    }
  }
}

// || TABLE - VARIANT
.table.table--variant {
  th {
    border-top: 0;
  }

  &.table--order {
    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
  }
}

// || IMAGE HOLDER
.img-holder-medium {
  &>img {
    border-radius: 4px;
    height: 130px;
    width: 130px !important;
    object-fit: cover;
    margin-right: 10px;

    @media (max-width: 766px) {
      height: 70px;
      width: 70px;
    }
  }
}


// CUSTOM INPUT FILE BUTTON
.custom-file-upload {
  input[type="file"] {
    display: none;
  }
}

label {
  margin: 0;
}

.custom-file-upload {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px dashed $blue-50;
  padding: 10px;
}




// || CHECKBOX RADIO TOGGLE
$input-focus-border-color: #80bdff;
$input-border-color: #ced4da;
$input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
;
$input-disabled-bg: #e9ecef;
$input-border-color-active: $blue-50;

// checkbox, switch
$disabled-inner-color: #E1E6F9;
$active-inner-color : #fff;

@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='checkbox'],
  input[type='radio'] {
    --active: #E1251B;
    --active-inner: #fff;
    --focus: 2px #FFB19E;
    --border: #B3B3B3;
    --border-hover: #FFB19E;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid $input-border-color;
    background: #fff;
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      // transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      background-color: $input-border-color-active;
      border-color: $input-border-color-active;
      // --d-o: .3s;
      // --d-t: .6s;
      // --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      background-color: $input-disabled-bg;
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        background-color: $disabled-inner-color;
        border-color: $input-border-color;
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          border-color: $input-focus-border-color;
        }
      }
    }

    &:focus {
      // box-shadow: $input-focus-box-shadow;
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        // border: 2px solid $active-inner-color;
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: $active-inner-color;
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}

// || ICON - SOCIAL
.icon--social {
  font-size: 2rem;
}

// || TIMELINE
.timeline-wrapper {
  display: block;

  .is-complete {}
}

.timeline {
  display: flex;
  list-style: none;
  padding: 0;

  &.text-nowrap{
    .description{
      white-space: nowrap;
    }
  }

  li {
    counter-increment: section;
    position: relative;
    // font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    color: $blue-50;
    font-size: 1rem;
    line-height: 1.5;

    .description {
      white-space: initial;
      color: $gray-10;
      text-align: left;
      width: auto;
      max-width: 200px;

      .desc_time {
        font-size: 12px;
        color: $gray-40;
      }
    }

    &:before {
      content: '';
      text-align: center;
      color: white;
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: $blue-50;
      // background-color: transparent;
      border-radius: 50%;
      // border: 2px solid white;
      z-index: 3;
      transition: all .2s ease-in-out;
    }
  }

  &.timeline-vertical {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-inline-start: 0px;
    }

    li {
      flex: 1;
      padding: 0px;

      .description {
        position: absolute;
        left: 15px;
        top: -14px;
        display: block;
        padding: 10px 10px 10px 0;

        .desc_title {
          font-size: 14px;
        }
      }

      &:after {
        content: "";
        display: block;
        height: 2rem;
        border-left: 2px solid $blue-50;
      }

      &:first-child,
      :last-child {
        flex: 1;
      }

      &:first-child {
        border: none;
      }

      &:last-child {
        text-align: right;

        &::after {
          border: none;
          height: 0px;
        }

        span {
          width: 200%;
          display: inline-block;
          position: absolute;
          left: -100%;
        }
      }

      &:before {
        position: relative;
        left: -7px;
        bottom: 0px;
      }
    }

    span {
      transition: opacity .3s ease-in-out;
    }

    .is-active {
      &:not(:first-child):after {}

      &:last-child {
        &:after {
          width: 200%;
          left: -100%;
        }
      }

      &::before {
        // background-color: white;
        // border-color: $blue-50;
      }

      &~li {
        &::before {
          background-color: grey;
        }

        &::after {
          border-left: 2px solid grey;
        }

        .description {
          color: grey;

          .desc_time {
            color: grey;
          }

          .desc_title {
            font-size: 10px;
          }
        }
      }

    }
  }


}

.timeline--step {
  color: $blue-50;  
  font-size: 14px;
}

.timeline--tittle {
  font-weight: bolder;
}

.icon.chat-indicator {
  font-size: 10px;

  &-online {
    color: mediumseagreen;
  }

  &-offline {
    color: $gray-40;
  }
}

.chat-box {
  .chat-box-head {}

  .chat-box-body {
    .single-chat {
      background-color: $gray-60;
      max-width: 300px;
      padding: 10px;
      margin: .7rem 0 .7rem 0;

      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 8px;
      }

      &.single-chat-other {
        border-radius: 16px 16px 16px 0;
      }

      &.single-chat-me {
        margin-left: auto;
        border-radius: 16px 16px 0px 16px;

      }
    }
  }
}

// || MODAL - PORTFOLIO
.modal {
  .modal-portfolio {
    .modal-body {
      width: inherit;

      img {
        width: inherit;
      }
    }
  }
}


.portfolio-single {
  span {
    font-weight: bolder;
    margin-top: 8px;
  }
}

// single-custom-job
.single-custom-job{
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  cursor: pointer;
}


//DROPDOWN DROPDOWN-AVATAR
header{
  .dropdown{
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background-color: #F3F4F5;
      font-weight: 600;
      padding: 8px;
      border-radius: 4px;
    }
    .dropdown-toggle.dropdown-avatar{
      
    }
  }
}


.ekspedisi-img{
  height: 100px;
  width: auto;
}

.el-ghost{
  .btn{
    min-height: 0;
    font-size: 10px;
    line-height: 0.8;
  }
}

.single-cat,.single-cat-child{
  .el-ghost{
    display: none;
  }
  &:hover{
    .el-ghost{
      display: inline-block !important;
    }
  }
}

// .el-helper{

//   +.el-ghost{
//     display: none;
//   }
//   &:hover{
//     +.el-ghost{
//       display: inline-block !important;
//     }
//   }
// }