@import '../bootstrap/css/bootstrap.css';

$gray-10 : #333333; //BODY
$gray-40 : #838994; //NAV, LABEL
$blue-50 : #2F80ED; //PRIMARY
$gray-70 : #F8F8F8;
$gray-60 : #F2F2F2;

$red-60 : #F5222D;

$yellow-50 :#F2994A;
$font-size-base: 14px;


$card-box-shadow : 0px 1px 6px #31353b1f;


h1,h2,h3,h4,h5,h6{
  color: $gray-10;
  font-weight: bolder;
}

h1{}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

h5{
  font-size: 16px;
}


label{
  font-size: 12px;
  color: $gray-40;
}

hr{
  width: 100%;
}

html{
  font-size: 14px;
}

body{
  background-color: #F3F4F5;
  color: $gray-10;

  &.sidenav-toggled{
  	aside{
      // display: block;
  		left: 0;
  	}
  }

  &.bottom-dialog--toggled{
    overflow: hidden;
  }
}

.cursor-pointer{
  cursor: pointer;
}

@import 'component.scss';
@import 'nav-style.scss';
  