@import '../bootstrap/css/bootstrap.css';

$gray-10 : #333333;
$gray-20 : #40454C;
$gray-30 : #606060; //BODY
$gray-40 : #838994; //NAV, LABEL
$gray-50 : #E0E0E0;
$gray-60 : #F6F6F6;
$gray-70 : #F8F8F8;
$gray-60 : #F2F2F2;

$blue-50 : #2F80ED; //PRIMARY
$red-60 : #F5222D;

$yellow-50 :#F2994A;
$font-size-base: 14px;

$card-box-shadow : 0px 1px 6px #31353b1f;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-10;
  font-weight: bolder;
}


h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}


label {
  font-size: 12px;
  color: $gray-40;
}

hr {
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  background-color: #F3F4F5;
  color: $gray-30;

  &.sidenav-toggled {
    aside {
      // display: block;
      left: 0;
    }
  }

  &.bottom-dialog--toggled {
    overflow: hidden;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-medium {
  font-weight: 500
}

.text-sm-ellipsis {

  @media (max-width: 540px) {
    max-width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.badge{
  line-height: unset;
}

@import 'component.scss';
@import 'customer.scss';