/* Stand-alone icon */
.nav-icon{
    margin-left: .8rem;
    margin-right: .8rem;
    width: 36px;
    height: 30px;
    .top-nav-icon{
        width: 20px;
        height: 20px;
        font-size: 1.0625rem;
        text-align: center;
        color: $gray-40;
        &:hover{
            color: $gray-10;
            transition: 0.5s;
        }
    }
}
/* Stand-alone icon */

/* Sign up and Sign in */
.authentication-btn{
    .signup, .signin{
        font-size: 0.875rem;
    }
    .signup{
        background-color: $blue-50;
    }
    .signin{
        text-decoration: none;
    }
}
/* Sign up and Sign in */

/* Search */
.search-box{
    width: 350px; 
    margin-left: 1rem;
    input, button{
        font-size: 14px;
    }
    input{
        &:focus{
            border-color: $blue-50 transparent $blue-50 $blue-50;
            box-shadow: none !important;
        }
    }
    button{
        background-color: $gray-40;
        border-color: transparent;
    }
}
/* Search */

/* Categories */
.categories-holder{
    background-color: $gray-70;
    .container{
        .categories{
            padding: 10px 16px;
            .show-all-cat{
                color: $gray-10;
                text-decoration: none;
                font-weight: 600;
            }
            a{
                margin-right: 1rem;
                text-decoration: none;
                color: $gray-10;
            }
        }
    }
}
/* Categories */